

.background {
  background: url('../assets/images/monster-plant.jpg') no-repeat 50% 50px !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: contain !important;
  min-height: 100vh !important;

  min-height: -webkit-fill-available !important;
  background-position: right !important;
}

.service-card {
  width: 150px;
  height: 250px;
  background: black;

  .service-card-heading {
    height: 50px;
    color: white;
    background: blanchedalmond;
  }

  .service-card-body {
    background: red;
    height: 200px;
  }
}




