<div class="menu-toggle" id="menuToggle">
  <span></span>
</div>

<!--header-left-->
<div class="header-left" id="scrollspy">
  <!--logo-->
  <div class="logo bg-base-color">
    <!-- <a href="index.html" class="text-white mb-0">L</a> -->
    <img class="text-white mb-0" src="../../assets/images/logo.png" alt="L">
  </div>

  <!--menu-->
  <div class="main-menu" id="js-menu">
    <div class="cross bg-base-color">
      <span><i class="fas fa-times text-white"></i></span>
    </div>
    <nav class="menu">
      <ul class="menu-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" (click)="goHome()">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="home" (click)="goAbout()">About </a>
        </li>
<!--
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#works">Works</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" routerLink="home" (click)="goBlog()">Blog</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="home" (click)="goPrograms()">Programs</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" routerLink="home" (click)="goContact()">Contact</a>
        </li>
      </ul>
    </nav>
  </div>


</div>
