

<div class="details-section">

</div>

<div class="venue-section">
  <div class="row">
    <div class="col-xs-12 col-md-6 venue-col-1">
      <div class="row">
        <div class="col-xs-12 venue-main-heading">
          RSVP
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 venue-main-body">
          RSVP hieronder of by Anita (076 860 0332) voor 8 Desember <br />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="directions-button" style="cursor: pointer;" type="submit" (click)="openMaps()">Aanwysings na Goedgeleven</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 venue-col-2">

    </div>
  </div>
</div>

<div class="rsvp-section">
  <!-- <div class="row">
    <div class="col-xs-12 rsvp-main-heading">
      RSVP
    </div>
  </div> -->
  <div class="row">

    <div class="col-xs-12 rsvp-body">

      <div class="row">
        <div class="col-xs-12">
          <input placeholder="Naam en van *" [(ngModel)]="name">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input placeholder="Epos address *" [(ngModel)]="email">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <input placeholder="kontak nommer *" [(ngModel)]="telNo">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 sien-ons-jou-daar">
          Sien ons jou daar?
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 rsvp-button" >
          <button [ngClass]="comming" (click)="rsvp(true)">JA</button>
        </div>
        <div class="col-xs-6 rsvp-button">
          <button [ngClass]="notComming" (click)="rsvp(false)">NEE</button>
        </div>
      </div>

      <div class="row" *ngIf="comming">
        <div class="col-xs-12">
          <input placeholder="Dieetvoorkeur bv. vegetaries" [(ngModel)]="vegetarian">
        </div>
      </div>

      <div class="row" *ngIf="notComming">
        <div class="col-xs-12">
          <textarea placeholder="Boodskap" [(ngModel)]="message"></textarea>
        </div>
      </div>

      <div class="row" [hidden]="!isRsvp">
        <div class="col-xs-12">
          <input placeholder="Liedjie versoek" [(ngModel)]="songRequest">
        </div>
      </div>
      <div class="row" *ngIf="!disableRSVPButton">
        <div class="col-xs-6 rsvp-send-button">
          <button (click)="sendWeddingRSVP()">Stuur RSVP</button>
        </div>
      </div>

      <div class="row" *ngIf="disableRSVPButton">
        <div class="col-xs-6">
          Dankie vir die terugvoer!
        </div>
      </div>

      <div class="row general-text">
        <div class="col-xs-12">
          <label>'n Geldjie in die sak, is beter as 'n geskenkie op die rak.</label>
        </div>
      </div>


      <div class="row general-text bottom-text">
        <div class="col-xs-3">
          <label>Vriendelike groete <br> Francois & Estelle Rossouw en Andre & Wilna Smith</label>
        </div>
      </div>
    </div>
  </div>
</div>

