/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: url('assets/images/background.jpg') no-repeat center center;
  background-size: cover;
  background-position:center;
  background-attachment: fixed;
}

@media screen and (max-device-width: 1024px){
  body {
    background-attachment: scroll;
  }
}

html,body{
  overflow-x: hidden;
}
